@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Secular+One&display=swap');

#top{
    background-image: url(../img/bookA2.jpg);
    height: 125vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

#form{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items:center;
    color: black;
}



#top h3{
    font-family: 'Playfair Display', serif;
}



.BookingBtn{
    align-self: center;
    font-family: 'Secular One', sans-serif;
    text-decoration: none;
    padding: 5px;
    
    margin: auto;
    background-color: #FA0648;
    border: #FA0648;
   
    color: white;
    /* border-radius: 70%; */
    cursor: pointer;
    border-radius: 12px;
    
}
.BookingBtn:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #0097A7;
    color: white;

}



